In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import os

import wrangle_happy as wh
#import explore_zillow as ez
#import model_zillow as mz

import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data
from math import sqrt
from scipy import stats
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LassoLars
from sklearn.feature_selection import SelectKBest, RFE, f_regression, SequentialFeatureSelector
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.feature_selection import f_regression
from sklearn.model_selection import train_test_split

In [2]:
df_2015 = wh.get_happy_2015()

In [3]:
df_2015.head()
# Need to drop Region
# Need to drop Standard error
# Drop Dystopia Residual

# Rename Family to Social Support
# Rename Happiness Score to Happiness.Score
# Rename Happiness Rank to Happiness.Rank
# Rename Trust Gov to Perceptions of Corruption in Gov
# Rename Freedom to Freedom to make life choices

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
df_2015 = df_2015.rename(columns={'Family':'Social Support'})
df_2015 = df_2015.rename(columns={'Happiness Score':'Happiness.Score'})
df_2015 = df_2015.rename(columns={'Happiness Rank':'Happiness.Rank'})
df_2015 = df_2015.rename(columns={'Trust (Government Corruption)':'Perceptions of Corruption in Gov'})
df_2015 = df_2015.rename(columns={'Freedom':'Freedom to make life choices'})

In [5]:
df_2015.drop(columns=['Region', 'Standard Error', 'Dystopia Residual'], inplace=True)

In [6]:
df_2015.head(5)

,Country,Happiness.Rank,Happiness.Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom to make life choices,Perceptions of Corruption in Gov,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [9]:
df_2016 = wh.get_happy_2016()

In [10]:
df_2016.head()
# Need to drop Region
# Need to drop Lower Conf level
# Need to drop Upper Conf level
# Drop Dystopia Residual

# Rename Happiness Score to Happiness.Score
# Rename Happiness Rank to Happiness.Rank
# Rename Family to Social Support
# Rename Health (Life Expectancy)
# Rename Trust Gov to Perceptions of Corruption in Gov
# Rename Freedom to Freedom to make life choices

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [11]:
df_2016.drop(columns=['Region', 'Lower Confidence Interval', 'Upper Confidence Interval','Dystopia Residual'], inplace=True)

In [13]:
df_2016 = df_2016.rename(columns={'Family':'Social Support'})
df_2016 = df_2016.rename(columns={'Happiness Score':'Happiness.Score'})
df_2016 = df_2016.rename(columns={'Happiness Rank':'Happiness.Rank'})
df_2016 = df_2016.rename(columns={'Trust (Government Corruption)':'Perceptions of Corruption in Gov'})
df_2016 = df_2016.rename(columns={'Freedom':'Freedom to make life choices'})

In [14]:
df_2016.head()

,Country,Happiness.Rank,Happiness.Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom to make life choices,Perceptions of Corruption in Gov,Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [15]:
df_2017 = wh.get_happy_2017()

In [16]:
df_2017.head()
# Need to drop Whisker.high
# Need to drop Whisker.low
# Drop Dystopia.Residual

# Rename Family to Social Support
# Rename Economy (GDP per Capita)
# Rename Health (Life Expectancy)

# Rename Trust Gov to Perceptions of Corruption in Gov
# Rename Freedom to Freedom to make life choices

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [17]:
df_2017.drop(columns=['Whisker.high', 'Whisker.low','Dystopia.Residual'], inplace=True)

In [18]:
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [19]:
df_2017 = df_2017.rename(columns={'Family':'Social Support'})
df_2017 = df_2017.rename(columns={'Economy..GDP.per.Capita.':'Economy (GDP per Capita)'})
df_2017 = df_2017.rename(columns={'Health..Life.Expectancy.':'Health (Life Expectancy)'})
df_2017 = df_2017.rename(columns={'Trust..Government.Corruption.':'Perceptions of Corruption in Gov'})
df_2017 = df_2017.rename(columns={'Freedom':'Freedom to make life choices'})

In [20]:
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom to make life choices,Generosity,Perceptions of Corruption in Gov
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [21]:
df_2018 = wh.get_happy_2018()

In [22]:
df_2018.head()
# Rename to Country "drop Region"
# Rename Score to Happiness.Score
# Rename Overall Rank to Happiness.Rank
# Rename Economy (GDP per Capita)
# Rename Health (Life Expectancy)
# Rename Perceptions of to Perceptions of Corruption in Gov

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [23]:
df_2018 = df_2018.rename(columns={'Country or region':'Country'})
df_2018 = df_2018.rename(columns={'Healthy life expectancy':'Health (Life Expectancy)'})
df_2018 = df_2018.rename(columns={'Overall rank':'Happiness.Rank'})
df_2018 = df_2018.rename(columns={'Score':'Happiness.Score'})

In [25]:
df_2018 = df_2018.rename(columns={'GDP per capita':'Economy (GDP per Capita)'})

In [27]:
df_2018 = df_2018.rename(columns={'Perceptions of corruption':'Perceptions of Corruption in Gov'})

In [28]:
df_2018.head()

,Happiness.Rank,Country,Happiness.Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Generosity,Perceptions of Corruption in Gov
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [29]:
df_2019 = wh.get_happy_2019()

In [30]:
df_2019 = df_2019.rename(columns={'Country or region':'Country'})
df_2019 = df_2019.rename(columns={'Healthy life expectancy':'Health (Life Expectancy)'})
df_2019 = df_2019.rename(columns={'Overall rank':'Happiness.Rank'})
df_2019 = df_2019.rename(columns={'Score':'Happiness.Score'})
df_2019 = df_2019.rename(columns={'GDP per capita':'Economy (GDP per Capita)'})
df_2019 = df_2019.rename(columns={'Perceptions of corruption':'Perceptions of Corruption in Gov'})

In [31]:
df_2019.head()
# Rename to Country "drop Region"
# Rename Score to Happiness.Score
# Rename Overall Rank to Happiness.Rank
# Rename Economy (GDP per Capita)
# Rename Health (Life Expectancy)
# Rename Perceptions of to Perceptions of Corruption in Gov

,Happiness.Rank,Country,Happiness.Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Generosity,Perceptions of Corruption in Gov
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [32]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           158 non-null    object
 1   Happiness.Rank                    158 non-null    int64
 2   Happiness.Score                   158 non-null    float64
 3   Economy (GDP per Capita)          158 non-null    float64
 4   Social Support                    158 non-null    float64
 5   Health (Life Expectancy)          158 non-null    float64
 6   Freedom to make life choices      158 non-null    float64
 7   Perceptions of Corruption in Gov  158 non-null    float64
 8   Generosity                        158 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [33]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           157 non-null    object
 1   Happiness.Rank                    157 non-null    int64
 2   Happiness.Score                   157 non-null    float64
 3   Economy (GDP per Capita)          157 non-null    float64
 4   Social Support                    157 non-null    float64
 5   Health (Life Expectancy)          157 non-null    float64
 6   Freedom to make life choices      157 non-null    float64
 7   Perceptions of Corruption in Gov  157 non-null    float64
 8   Generosity                        157 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.2+ KB

In [34]:
# swap column 7 & 8
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           155 non-null    object
 1   Happiness.Rank                    155 non-null    int64
 2   Happiness.Score                   155 non-null    float64
 3   Economy (GDP per Capita)          155 non-null    float64
 4   Social Support                    155 non-null    float64
 5   Health (Life Expectancy)          155 non-null    float64
 6   Freedom to make life choices      155 non-null    float64
 7   Generosity                        155 non-null    float64
 8   Perceptions of Corruption in Gov  155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.0+ KB

In [37]:
column_titles = ['Country', 'Happiness.Rank', 'Happiness.Score', 'Economy (GDP per Capita)', 'Social Support', 'Health (Life Expectancy)', 'Freedom to make life choices', 'Perceptions of Corruption in Gov', 'Generosity']

In [40]:
df_2017 = df_2017.reindex(columns=column_titles)

In [41]:
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom to make life choices,Perceptions of Corruption in Gov,Generosity
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483

In [35]:
# swap column 7 & 8
# swap column 0 & 1
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Happiness.Rank                    156 non-null    int64
 1   Country                           156 non-null    object
 2   Happiness.Score                   156 non-null    float64
 3   Economy (GDP per Capita)          156 non-null    float64
 4   Social support                    156 non-null    float64
 5   Health (Life Expectancy)          156 non-null    float64
 6   Freedom to make life choices      156 non-null    float64
 7   Generosity                        156 non-null    float64
 8   Perceptions of Corruption in Gov  155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [42]:
df_2018 = df_2018.reindex(columns=column_titles)

In [43]:
df_2018.head()

,Country,Happiness.Rank,Happiness.Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom to make life choices,Perceptions of Corruption in Gov,Generosity
0,Finland,1,7.632,1.305,NaN,0.874,0.681,0.393,0.202
1,Norway,2,7.594,1.456,NaN,0.861,0.686,0.340,0.286
2,Denmark,3,7.555,1.351,NaN,0.868,0.683,0.408,0.284
3,Iceland,4,7.495,1.343,NaN,0.914,0.677,0.138,0.353
4,Switzerland,5,7.487,1.420,NaN,0.927,0.660,0.357,0.256

In [36]:
# swap column 7 & 8
# swap column 0 & 1
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Happiness.Rank                    156 non-null    int64
 1   Country                           156 non-null    object
 2   Happiness.Score                   156 non-null    float64
 3   Economy (GDP per Capita)          156 non-null    float64
 4   Social support                    156 non-null    float64
 5   Health (Life Expectancy)          156 non-null    float64
 6   Freedom to make life choices      156 non-null    float64
 7   Generosity                        156 non-null    float64
 8   Perceptions of Corruption in Gov  156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [44]:
df_2019 = df_2019.reindex(columns=column_titles)

In [45]:
df_2019.head()

,Country,Happiness.Rank,Happiness.Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom to make life choices,Perceptions of Corruption in Gov,Generosity
0,Finland,1,7.769,1.340,NaN,0.986,0.596,0.393,0.153
1,Denmark,2,7.600,1.383,NaN,0.996,0.592,0.410,0.252
2,Norway,3,7.554,1.488,NaN,1.028,0.603,0.341,0.271
3,Iceland,4,7.494,1.380,NaN,1.026,0.591,0.118,0.354
4,Netherlands,5,7.488,1.396,NaN,0.999,0.557,0.298,0.322

In [46]:
df_2015['Year']= 2015

In [47]:
df_2015.head()

,Country,Happiness.Rank,Happiness.Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom to make life choices,Perceptions of Corruption in Gov,Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [48]:
df_2016['Year']= 2016

In [49]:
df_2016.head()

,Country,Happiness.Rank,Happiness.Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom to make life choices,Perceptions of Corruption in Gov,Generosity,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016

In [50]:
df_2017['Year']= 2017

In [51]:
df_2018['Year']= 2018

In [52]:
df_2019['Year']= 2019

In [53]:
happy_data = [df_2015, df_2016, df_2017, df_2018, df_2019]

In [54]:
happy_df = pd.concat(happy_data)

In [55]:
happy_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           782 non-null    object
 1   Happiness.Rank                    782 non-null    int64
 2   Happiness.Score                   782 non-null    float64
 3   Economy (GDP per Capita)          782 non-null    float64
 4   Social Support                    470 non-null    float64
 5   Health (Life Expectancy)          782 non-null    float64
 6   Freedom to make life choices      782 non-null    float64
 7   Perceptions of Corruption in Gov  781 non-null    float64
 8   Generosity                        782 non-null    float64
 9   Year                              782 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 67.2+ KB

In [60]:
happy_df.tail()

,Country,Happiness.Rank,Happiness.Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom to make life choices,Perceptions of Corruption in Gov,Generosity,Year
151,Rwanda,152,3.334,0.359,NaN,0.614,0.555,0.411,0.217,2019
152,Tanzania,153,3.231,0.476,NaN,0.499,0.417,0.147,0.276,2019
153,Afghanistan,154,3.203,0.350,NaN,0.361,0.000,0.025,0.158,2019
154,Central African Republic,155,3.083,0.026,NaN,0.105,0.225,0.035,0.235,2019
155,South Sudan,156,2.853,0.306,NaN,0.295,0.010,0.091,0.202,2019

In [61]:
happy_df.drop(columns=['Social Support'], inplace=True)

In [62]:
happy_df.head()

,Country,Happiness.Rank,Happiness.Score,Economy (GDP per Capita),Health (Life Expectancy),Freedom to make life choices,Perceptions of Corruption in Gov,Generosity,Year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015

In [63]:
happy_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           782 non-null    object
 1   Happiness.Rank                    782 non-null    int64
 2   Happiness.Score                   782 non-null    float64
 3   Economy (GDP per Capita)          782 non-null    float64
 4   Health (Life Expectancy)          782 non-null    float64
 5   Freedom to make life choices      782 non-null    float64
 6   Perceptions of Corruption in Gov  781 non-null    float64
 7   Generosity                        782 non-null    float64
 8   Year                              782 non-null    int64
dtypes: float64(6), int64(2), object(1)
memory usage: 61.1+ KB

In [2]:
df_2015 = wh.get_happy_2015()
df_2016 = wh.get_happy_2016()
df_2017 = wh.get_happy_2017()
df_2018 = wh.get_happy_2018()
df_2019 = wh.get_happy_2019()

In [4]:
df_2015, df_2016, df_2017, df_2018, df_2019 = wh.wrangle_happi()

In [6]:
happy_df = wh.join_happy(df_2015, df_2016, df_2017, df_2018, df_2019)

In [7]:
happy_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           782 non-null    object
 1   Happiness.Rank                    782 non-null    int64
 2   Happiness.Score                   782 non-null    float64
 3   Economy (GDP per Capita)          782 non-null    float64
 4   Health (Life Expectancy)          782 non-null    float64
 5   Freedom to make life choices      782 non-null    float64
 6   Perceptions of Corruption in Gov  782 non-null    float64
 7   Generosity                        782 non-null    float64
 8   Year                              782 non-null    int64
dtypes: float64(6), int64(2), object(1)
memory usage: 61.1+ KB